Email Generation from Node-Red with Subject, body and Attachment.
[{"id":"d2ccb423.322b58","type":"tab","label":"Email Sending Subject, body and attachment","disabled":false,"info":""},{"id":"7f372dd4.9ac984","type":"file in","z":"d2ccb423.322b58","name":"get file","filename":"C:/Users/HP/Desktop/Client/Guidance note on PREPRATATION OF INVESTMENT RETURNS.pdf","format":"","chunk":false,"sendError":false,"encoding":"none","x":190,"y":220,"wires":[["892f85fd.ddf898"]]},{"id":"892f85fd.ddf898","type":"function","z":"d2ccb423.322b58","name":"write email","func":"file = msg.Node;    // create local file variable for convenient reference\nvar d = new Date();     // create current date object for the time string\nvar tstring = d.toString().substring(0,4) + d.toString().substring(15,21);\n\nmsg.attachments =\n     { filename : \"Node.txt\",\n        content : msg.payload };    // content should be a file binary buffer\n        \nmsg.topic = \"Your Daily Report for \" + tstring; // email subject\n\nmsg.payload = \"See attached text file: \"; // email body\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["3d2eae0.1c8b452","e56d7627.05dcc8"]]},{"id":"e56d7627.05dcc8","type":"e-mail","z":"d2ccb423.322b58","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"aditishinde@credenceanalytics.com","dname":"","x":610,"y":220,"wires":[]},{"id":"5fb69172.b3471","type":"inject","z":"d2ccb423.322b58","name":"Timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["7f372dd4.9ac984"]]},{"id":"3d2eae0.1c8b452","type":"debug","z":"d2ccb423.322b58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]}]
