Read a CSV file in Node-Red and insert the Records into Table.
[{"id":"5a7162ec.255cbc","type":"tab","label":"Inserting data into table","disabled":false,"info":""},{"id":"c29cd454.929b88","type":"inject","z":"5a7162ec.255cbc","name":"","props":[{"p":"payload"},{"p":"query","v":"INSERT INTO Persons (PersonID,LastName,FirstName,Address,City) VALUES ('11','Rahul','Gaur','Malad','Mumbai')","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["7cf1d403.83f28c"]]},{"id":"e9df3269.7c7bd","type":"debug","z":"5a7162ec.255cbc","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":100,"wires":[]},{"id":"7cf1d403.83f28c","type":"oracledb","z":"5a7162ec.255cbc","name":"","usequery":false,"query":"","usemappings":false,"mappings":"","server":"1ccf1a70.d0edb6","resultaction":"single","resultlimit":100,"x":360,"y":80,"wires":[["e9df3269.7c7bd"]]},{"id":"1ccf1a70.d0edb6","type":"oracle-server","connectionname":"db","tnsname":"","connectiontype":"Classic","instantclientpath":"C:\\oracle\\instantclient_19_11","host":"localhost","port":"1521","reconnect":true,"reconnecttimeout":"5000","db":"nvorcl"}]
